/**************************************************************************************
***********************************GENERAL STYLES**************************************
**************************************************************************************/



body {
    font-family: Lato, sans-serif;
    margin: 0;
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #333;
}

::selection {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-style: inset 0 0 6px rgba(0, 0, 0, .2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, .3);
}



/**************************************************************************************
***********************************HELPER CLASSES**************************************
**************************************************************************************/



.container {
    width: 770px;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}

.row {
    margin-left: -15px;
}

.clearfix:after,
.row:after {
    content: '';
    display: block;
    clear: both;
}

/*
.row [class*=col-]{
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
*/

.row .col-12 {
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.row .col-11 {
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}

.row .col-6 {
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.row .col-4 {
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

.row .col-3 {
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}

.row .col-1 {
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}

.row.no-top-bottom-padding [class*=col-],
[class*=col-].no-top-bottom-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-rigth {
    text-align: right;
}

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-40 {
    padding: 40px;
}

.p-50 {
    padding: 50px;
}

.p-t-0 {
    padding-top: 0;
}

.p-t-10 {
    padding-top: 10px;
}

.m-0 {
    margin: 0;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.m-50 {
    margin: 50px;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-10 {
    margin-top: 10pz;
}

.img-responsive {
    width: 100%;
}






/**************************************************************************************
***********************************NAVBAR CLASSES**************************************
**************************************************************************************/



.navbar {
    width: 100%;
    height: 45px;
    line-height: 45px;
}

.navbar-fixed {
    position: sticky;
    /*or else make the image top margin the height of navbar or else the image will get cut*/
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar-dark {
    background: #000;
    color: #fff;
}

/*
.navbar-blue {
    background: #0077b6;
}
*/

.menu,
.sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-menu {
    display: none;
}

.menu .menu-item {
    display: inline-block;
    text-transform: uppercase;
}

.menu .menu-item a {
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}

.has-sub-menu {
    position: relative;
}

.has-sub-menu:hover .sub-menu {
    display: block;
}

.has-sub-menu .sub-menu-list {
    position: absolute;
    left: 0;
    background: #fff;
    color: #000;
    width: 160px;
}

.sub-menu-list .sub-menu .menu-item {
    text-transform: capitalize;
    display: block;
}

.sub-menu-list .sub-menu .menu-item a {
    display: block;
    color: #333;
}

.navbar-dark .menu .menu-item a:link,
.navbar-dark .menu .menu-item a:visited {
    color: #fff;
}

.navbar-dark .menu .menu-item a:hover,
.navbar-dark .menu .menu-item.has-sub-menu:hover > a {
    background: #ccc;
    color: #333;
}

/*
.navbar-blue .menu .menu-item a:hover {
    background: #fc3;
}
*/

.sub-menu-list .sub-menu .menu-item a:link,
.sub-menu-list .sub-menu .menu-item a:visited {
    color: #333;
}

.sub-menu-list .sub-menu .menu-item:hover .has-sub-menu a {
    color: #333;
    background: #ccc;
}

.search-box {
    padding: 0 20px;
}

.search-box:hover {
    background: #f00;
    cursor: pointer;
}



/**************************************************************************************
***********************************SLIDER CLASSES**************************************
**************************************************************************************/



.slider {
    width: 100%;
}

.slider-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider-item {
    position: relative;
}

.slider .slider-image {
    width: 100%;
}

.slider-item .image-caption {
    position: absolute;
    bottom: 50px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.image-caption .caption-title {
    font-size: 30px;
}




/**************************************************************************************
***********************************SECTION CLASSES**************************************
**************************************************************************************/




.section {
    padding: 85px 0;
}

.section-white {
    background: #fff;
    color: #333;
}

.section-black {
    background: #000;
    color: #fff;
}

.section .section-heading h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 4px;
    margin: 0 0 18px;
}

.section .section-heading p {
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    margin: 0;
}

.section-white .section-heading p {
    color: dimgray;
}

.section-black .section-heading p {
    color: #aaa;
}




/**************************************************************************************
***********************************BUTTON CLASSES**************************************
**************************************************************************************/



.btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: #333;
    border: solid 1px #333;
}

.btn-default {
    background: #000;
    border-color: #000;
    color: #fff;
}

.btn-default:hover {
    background: #ccc;
    color: #333;
    cursor: pointer;
    border-color: #ccc;
}

.btn-blue {
    background: #0077b6;
    border-color: #0077b6;
    color: #fff;
}

.btn-blue:hover {
    background: #0077b6;
    color: #fff;
    cursor: pointer;
    border-color: #0077b6;
}

.btn-default-outline {
    background: #fff;
    border: solid 1px #333;
    color: #333;
}

.btn-blue-outline {
    background: #fff;
    border: solid 1px #0077b6;
    color: #0077b6;
}

.btn-rounded {
    border-radius: 5px;
}




/**************************************************************************************
***********************************BAND SECTION**************************************
**************************************************************************************/



.photographer {
    text-align: center;
}

.photographer img {
    width: 155px;
    border-radius: 5px;
}



/**************************************************************************************
***********************************TOUR SECTION**************************************
**************************************************************************************/




.tours {
    background: #fff;
    color: #333;
}

.tour-list {
    list-style: none;
    color: #797775;
}

.tour-item {
    padding: 10px 15px;
    border-bottom: solid 1px #ddd;
}

.tour-item:last-child {
    border-bottom: none;
}

.tour-item:not(.last-item) {
    border-bottom: solid 1px #ddd;
}

.sold-out {
    background: #f44336;
    color: #fff;
    text-transform: capitalize;
    padding: 2px 5px;
    margin-left: 20px;
}

.badge {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}

.badge-black {
    background: #000;
    color: #fff;
}

.event {
    position: relative;
    line-height: 0;
}

.event img {
    width: 100%;
}

.event .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
}

.event:hover .overlay {
    display: block;
}

.event-content {
    padding: 10px;
    background: #fff;
    color: #333;
}

.event-date {
    color: #999;
}




/**************************************************************************************
***********************************CONTACT SECTION**************************************
**************************************************************************************/



.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    margin-bottom: 8px;
}

.contact-details p,
.contact-details i {
    font-size: 18px;
}

.grayscale {
    filter: grayscale(50%);
}




/**************************************************************************************
***********************************FOOTER**********************************************
**************************************************************************************/




footer.section-white {
    color: #777;
}

.social-icons {
    font-size: 24px;
}

.social-icons:hover {
    color: #999;
}




/*MEDIA QUERIES*/

@media(max-width:550px) {
    .container {
        width: 90%;
    }

    .right-section {
        display: none;
    }

    .row .col-6 {
        width: 100%;
    }

    .row .col-4 {
        width: 100%;
    }

    .row .col-3 {
        width: 100%;
    }
}

@media(min-width:551px) and (max-width:768px) {
    .container {
        width: 90%;
    }
}
